{% extends "layout.html" %}
{% block titulo %} Lista de Pasajeros {%endblock%}
{% block contenido %} 

<section>    
    <div class="page-content page-container" id="page-content">
            <div class="row  d-flex justify-content-center pt-5">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0 mb-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                    <h4 class="f-w-600">{{pasajero.nombre}} {{pasajero.apellido}}</h4>
                                    
                                    <p>Pasajero</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                              
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Información del Pasajero No. {{pasajero.id}}</h5>
                                   
                                    <div class="row">
                                        <div class="col">
                                            <p class="m-b-10 f-w-600">Nombre Completo</p>
                                            <h6 class="text-muted f-w-400">{{pasajero.nombre}} {{pasajero.apellido}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Cedula</p>
                                            <h6 class="text-muted f-w-400">{{pasajero.cedula}}</h6>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Correo</p>
                                            <h6 class="text-muted f-w-400">{{pasajero.correo}}</h6>
                                        </div>                                        
                                        <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Telefono</p>
                                                <h6 class="text-muted f-w-400">{{pasajero.telefono}}</h6>
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <div class="float-bottom w-100 pr-5">
                                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Acción</h6>
                                        <div class="row py-2">
                                            <div class="col-sm-4">
                                                <a href="/pasajeros_edit/{{ pasajero.id }}"
                                                    class="d-block waves-effect waves-light btn text-white"
                                                    style="background-color: #71A9F7">Editar</a>
                                            </div>
                                            <div class="col-sm-4 px-3">
                                                <a href="/pasajeros_delete/{{ pasajero.id }}"
                                                    class="d-block waves-effect waves-light btn btn-danger">Borrar</a>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="/pasajeros_index"
                                                    class="d-block waves-effect waves-light btn text-white"
                                                    style="background-color: #ff9b42">Regresar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
</section>


{% endblock %}