{% extends "layout.html" %}
{% block titulo %} Info Tiquete {%endblock%}
{% block contenido %} 

<section>
    <div class="bg-light w-75 m-auto py-3 pr-0 pl-3 rounded h-75">
        <div class="col overflow-auto h-100">
            <h2 class="center-align sticky-top bg-light">Tiquete</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cantidad</th>
                        <th>Fecha del Viaje</th>
                        <th>Hora de salida</th>
                        <th>Bus</th>
                        <th>Pasajero</th>
                        <th>Ruta</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr class="table-light">
                        <td class="" scope="row"> {{ tiquete.id }} </td>
                        <td>{{ tiquete.cantidad }} </td>
                        <td>{{ tiquete.fecha_viaje }} </td>
                        <td>{{ tiquete.hora_salida }} </td>
                        <td>{{ tiquete.bus }} </td>
                        <td>{{ tiquete.pasajero }} </td>
                        <td>{{ tiquete.ruta }} </td>
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    </div>
</section>

{% endblock %}